.auth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    background-color: #FAFAFA;
}

.auth-container .logo img {
    width: 150px;
}

.auth-welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    text-align: center;
}

.auth-welcome h1 {
    font-size: 1.5rem;
    font-weight: 500;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 400px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-group label {
    font-size: 0.9rem;
    font-weight: 500;
}

.form-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
}

.form-group textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
    resize: none;
}

.form-group select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
}

.form-group button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    background-color: #3BAA7C;
    color: #fff;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #3BAA7C;
}

.flex-row-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.flex-row {
    display: flex;
    align-items: center;
    gap: 5px;
}

.auth-container a {
    color: #3BAA7C;
}